<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Create Watch List</title>
</head>
<body>
    <p class="item">Welcome To The OfferUp Marketplace Updater</p>
    <hr>
    <p>Create a New Watchlist</p>
    <hr>
    <p>Name of city to search:</p>
    <input type="radio" name="city" value="Denver" id="gh">
    <label for="gh">Denver</label><br>
    <input type="radio" name="city" value="Boulder" id="both">
    <label for="both">Boulder</label><br>
    <input type="radio" name="city" value="Broomfield" id="sea">
    <label for="sea">Broomfield</label><br><br>
    <p>Item to keep a posting update for:</p>
    <input id="itemToSearch">
    <button onclick="myFunction()"> Create New Watchlist </button>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        function myFunction() {
            const itemToSearch = document.querySelector("#itemToSearch").value;
            const cityToSearch = document.querySelector("input[name=city]:checked").value
            
            const watchlist_dict = {itemToSearch, cityToSearch} //pass javascript variables into a dictionary
            const s = JSON.stringify(watchlist_dict); //converts a javascript value to JSON
            
            alert("Adding a Watch for " + itemToSearch + " in " + cityToSearch)

            $.ajax({
                url: "/test",
                type: "POST",
                contentType: "application/json",
                data: s
                //https://youtu.be/Ax_xwLybUME <- info for this code
            });
        }
    </script>
</body>
</html>